/* This CSS preserves the old look-and-feel of Adventures in Deep Space in light mode, but allows for a night-vision friendly dark mode for field use */
:root {
    color-scheme: light dark;
}
body {
    color: light-dark(#000000, #ffffff);
    background-color: light-dark(#e7c4af, #000000);
    margin-left: 10px;
    margin-right: 10px;
    a:link {
	color: light-dark(#FF0000, #FF0000);
    }
    a:visited {
	color: light-dark(#0000FF, #bb5555);
    }
    a:hover {
	color: hotpink;
    }
}
blockquote {
  border-left: 10px solid light-dark(#ff7454, hotpink);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  background: light-dark(#f7c4af, #221111);
  display: inline-block;
}
blockquote p {
    display: inline;
}
img.small {
    width: 300px;
}

img.tiny {
    width: 100px;
}

img.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
