/* This CSS preserves the old look-and-feel of Adventures in Deep Space in light mode, but allows for a night-vision friendly dark mode for field use */

:root {
    --font-color: black;
    --link-color: red;
    --link-visited-color: blue;
    --link-hover-color: hotpink;
    --blockquote-border: #ff7454;
    --blockquote-background: #f7c4af;
    --bg-color: #e7c4af;
    --button-background: #001122;
}
@media (prefers-color-scheme: dark) {
    :root {
	--font-color: white;
	--link-color: red;
	--link-visited-color: #bb5555;
	--link-hover-color: hotpink;
	--blockquote-border: hotpink;
	--blockquote-background: #221111;
	--bg-color: black;
	--button-background: #4488bb;
    }
}
body {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--font-color);
    background-color: var(--bg-color);
    a:link {
	color: var(--link-color);
    }
    a:visited {
	color: var(--link-visited-color);
    }
    a:hover {
	color: var(--link-hover-color);
    }
}
blockquote {
    border-left: 10px solid var(--blockquote-border);
    background: var(--blockquote-background);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    display: inline-block;
}
img.small {
    width: 300px;
}

img.tiny {
    width: 100px;
}

img.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

button.floating {
    float: right;
    position: sticky;
    bottom: 20px;
    right: 20px;
    padding: 1px 1px;
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
