/* This CSS preserves the old look-and-feel of Adventures in Deep Space in light mode, but allows for a night-vision friendly dark mode for field use */

:root {
    --font-color: black;
    --link-color: red;
    --link-visited-color: blue;
    --link-hover-color: hotpink;
    --blockquote-border: #ff7454;
    --blockquote-background: #f7c4af;
    --bg-color: #e7c4af;
    --button-background: #001122;
}
@media (prefers-color-scheme: dark) {
    :root {
        --font-color: white;
        --link-color: red;
        --link-visited-color: #bb5555;
        --link-hover-color: hotpink;
        --blockquote-border: hotpink;
        --blockquote-background: #221111;
        --bg-color: black;
        --button-background: #4488bb;
    }
}
body {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--font-color);
    background-color: var(--bg-color);
}
a:link {
    color: var(--link-color);
}
a:visited {
    color: var(--link-visited-color);
}
a:hover {
    color: var(--link-hover-color);
}
blockquote {
    border-left: 10px solid var(--blockquote-border);
    background: var(--blockquote-background);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    display: inline-block;
}
img.small {
    width: 300px;
}

img.tiny {
    width: 100px;
}

img.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

button.floating {
    float: right;
    position: sticky;
    bottom: 20px;
    right: 20px;
    padding: 1px 1px;
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* For observing reports as well as the home page, even the old
   styling of ADS uses dark colors, so we have to tweak the theme. The
   only change we make in dark mode is to preserve the reddish link
   colors so they show up fine through a red plexiglas filter */
body.or {
    background-image: url("starry.jpg");
    background-color: black;
    color: #ffff66;
}
.or img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.or a:link {
        color: #33ff33;
}
.or a:visited {
        color: #66ffcc;
}

@media (prefers-color-scheme: dark) {
.or a:link {
            color: red;
}
.or a:visited {
            color: #bb5555;
}
}

.main_content table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

.main_content th, td {
    padding: 0.1em 0.3em 0.1em 0.3em;
}
.main_content th {
    font-family: sans-serif;
    border-bottom: 2px solid;
}
